<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Event <span> Titens</span></a>
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-phone"></i>  +1(678) 999 3323</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-envelope"></i> info@EventTitans.com</a>
          </li>
        </ul>
        <div class="d-flex align-items-start">
            <button class="btn border"><i class="fa fa-circle-o"></i></button>
            <ul class="login_reg border rounded mx-2">
                <li> <a href="#" class="nav-link">login</a></li>
                <li> <a href="#" class="nav-link">Register</a></li>
            </ul>
         <button class="btn gradient-btn">Create Event</button>
        </div>
      </div>
    </div>
  </nav>